In [3]:
from pathlib import Path
import pandas as pd

In [9]:
#ignore this cell
my_path = r"Z:\Private\arham.anwar\LCOE\Moen Data File Sharing\Moen Data File Sharing\Monthly Freight Files" #path to where the excel files are.
# glob uses a wild match to find all excels within a certain folder/location.
xls = [x for x in Path(my_path).glob('*.xlsx')] 
xls

[WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Apr '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/April '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/August '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/August '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/December '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Feb '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/February '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Jan '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/January '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/July '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/July '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Jun '20 Freight .xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/June '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Mar '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/March '21 Freight V2.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/May '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/May '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Nov '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/November '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/October '20 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/October '21 Freight V2.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/Sep '21 Freight.xlsx"),
 WindowsPath("Z:/Private/arham.anwar/LCOE/Moen Data File Sharing/Moen Data File Sharing/Monthly Freight Files/September '20 Freight.xlsx")]

In [8]:
path_ = r"Z:\Private\arham.anwar\LCOE\Moen Data File Sharing\Moen Data File Sharing\Monthly Freight Files\monthly freight standardized"

dfs = [pd.read_excel(f,sheet_name='GPC TMS OB') for f in Path(path_).glob('*.xlsx')]

df = pd.concat(dfs)

In [10]:
df.to_csv('first_pass_moen_GPC.csv')

In [11]:
df.to_excel("first_pass_moen_GPC.xlsx")

ValueError: This sheet is too large! Your sheet size is: 1938185, 43 Max sheet size is: 1048576, 16384

In [12]:
df.head()

,Date statistics fr,Period,Fiscal year,Shipment number,Company code,BOL #,Pro #,Incoterms,Description Incoterm,Sold-to-Party,...,Billed Quantity,Sales Unit,Mode,FI,GL,Source,Sold to PARTY,Sold to Party,STP,Channel
0,2020-03-29 00:00:00,4.0,2020.0,NaN,MINC,2282823.0,NaN,PPA,Prepay and allow freight,8564,...,1.0,EA,PARCEL,Freight On Sales,Freight-out - Sales,GPC OB,NaN,NaN,NaN,NaN
1,2020-03-29 00:00:00,4.0,2020.0,NaN,MINC,2282906.0,NaN,PPA,Prepay and allow freight,8564,...,1.0,EA,PARCEL,Freight On Sales,Freight-out - Sales,GPC OB,NaN,NaN,NaN,NaN
2,2020-03-29 00:00:00,4.0,2020.0,NaN,MINC,2282930.0,NaN,PPA,Prepay and allow freight,8564,...,2.0,EA,PARCEL,Freight On Sales,Freight-out - Sales,GPC OB,NaN,NaN,NaN,NaN
3,2020-03-29 00:00:00,4.0,2020.0,NaN,MINC,2282953.0,NaN,PPA,Prepay and allow freight,8564,...,1.0,EA,PARCEL,Freight On Sales,Freight-out - Sales,GPC OB,NaN,NaN,NaN,NaN
4,2020-03-29 00:00:00,4.0,2020.0,NaN,MINC,2282954.0,NaN,PPA,Prepay and allow freight,8564,...,2.0,EA,PARCEL,Freight On Sales,Freight-out - Sales,GPC OB,NaN,NaN,NaN,NaN

In [13]:
print(pd.unique(df['Mode']))

['PARCEL' 'LTL' 'FLEET' 'TL' nan 'US MAIL' 'CPU' 'Parcel']

In [14]:
for col in df.columns:
    print(col)

Date statistics fr
Period
Fiscal year
Shipment number
Company code
BOL #
Pro #
Incoterms
Description Incoterm
Sold-to-Party
Description sold-to party
Ship-to party
Description ship-to party
Key Account
Description of customer group
Dest.post.code (all)
Reg.code destination
Service Agent
Description service agent
Shipment number.1
Description shipment number
TransportPlanningPt
Descr. transp. planning point
Sales Organization
Description sales organisation
Shipping point
Description Shipping Point
Gross weight
Weight Unit
Net Value
Document Currency
Cond.value in CCurr.
CurrencyCondition
Billed Quantity
Sales Unit
Mode
FI
GL
Source
Sold to PARTY
Sold to Party
STP
Channel

In [21]:
df.pivot_table(index='Mode',aggfunc='count')

,BOL #,Billed Quantity,Channel,Company code,Cond.value in CCurr.,CurrencyCondition,Date statistics fr,Descr. transp. planning point,Description Incoterm,Description Shipping Point,...,Ship-to party,Shipment number,Shipment number.1,Shipping point,Sold to PARTY,Sold to Party,Sold-to-Party,Source,TransportPlanningPt,Weight Unit
Mode,,,,,,,,,,,,,,,,,,,,,
CPU,119,117,9,121,121,121,121,121,121,121,...,121,8,121,121,63,22,20,116,121,121
FLEET,8203,8084,0,8204,8204,8204,8204,8204,8204,8203,...,8204,487,8204,8203,2751,1731,2207,7136,8204,8204
LTL,52200,52011,4405,52290,52290,52290,52290,52290,52290,34257,...,52290,4537,52290,34257,31089,7819,8674,52130,52290,52290
PARCEL,1063953,1062112,102948,1063975,1063975,1063975,1063975,1063975,1063975,1063975,...,1063975,82297,1063975,1063975,652160,134090,171957,1063744,1063975,1063975
Parcel,8,8,0,8,8,8,8,8,8,8,...,8,0,8,8,1,2,4,8,8,8
TL,15024,20805,435,21447,21447,21447,21447,21447,21447,21447,...,21447,1951,21447,21447,9050,2305,8506,21212,21447,21447
US MAIL,649161,649181,18112,649201,649201,649201,649201,649201,649201,649201,...,649201,38351,649201,649201,350996,102117,104980,649201,649201,649201

In [22]:
df.pivot_table(index='Mode',aggfunc='sum')

,Billed Quantity,Cond.value in CCurr.,Fiscal year,Gross weight,Net Value,Period,Service Agent,Shipment number,Shipment number.1
Mode,,,,,,,,,
CPU,7815.0,0.00,2.444740e+05,6.800118e+04,3.943328e+05,732.0,3.875545e+07,1.010468e+08,1.528600e+09
FLEET,1902023.0,0.00,1.657436e+07,9.721630e+06,1.305469e+08,37668.0,2.627938e+09,6.173742e+09,1.004543e+11
LTL,13973492.0,7008778.05,1.056493e+08,4.204290e+07,9.386260e+08,317803.0,1.675792e+10,5.729951e+10,6.613645e+11
PARCEL,8970460.0,16238503.24,2.149744e+09,2.197456e+07,5.275456e+08,6619078.0,3.410196e+11,1.038862e+12,1.353143e+13
Parcel,142.0,1495.35,1.616100e+04,1.419480e+02,1.407020e+03,52.0,2.572730e+06,0.000000e+00,9.786887e+07
TL,18091205.0,6956849.25,4.332885e+07,8.307052e+07,1.096546e+09,135621.0,6.871572e+09,2.469391e+10,2.668336e+11
US MAIL,986661.0,0.00,1.311693e+09,2.222736e+05,1.698473e+06,3253401.0,2.079925e+11,4.863505e+11,8.154902e+12

In [66]:
filt=((df['Fiscal year']==2021) | ((df['Fiscal year']==2020) & (df['Period']==12)))
df2=df[filt]

In [67]:
df2.to_csv('second_pass_moen_GPC_filtered.csv')

In [68]:
pivot1=df2.pivot_table(index='Mode',values='BOL #',aggfunc='count')
pivot1

          BOL #
Mode
CPU          59
FLEET      2770
LTL       26278
PARCEL   554770
Parcel        1
TL         7578
US MAIL  344980

In [69]:
pivot2=df2.pivot_table(index='Mode',values='Gross weight',aggfunc='sum')
pivot2

         Gross weight
Mode
CPU      1.463523e+04
FLEET    3.204226e+06
LTL      2.166088e+07
PARCEL   1.070358e+07
Parcel   7.800000e-01
TL       4.225120e+07
US MAIL  1.174788e+05

In [70]:
pivot2=df2.pivot_table(index='Mode',values='Cond.value in CCurr.',aggfunc='sum')
pivot2

         Cond.value in CCurr.
Mode
CPU                      0.00
FLEET                    0.00
LTL                3309011.42
PARCEL             8266462.78
Parcel                  80.41
TL                 3635451.34
US MAIL                  0.00

In [71]:
filt2=(df2['Mode']=='LTL')
filt3=(df2['Mode']=='TL')
df3=df2[filt2]
df4=df2[filt3]

In [72]:
pivot3=df3.pivot_table(index='Description service agent',values='Cond.value in CCurr.',aggfunc='sum')
pivot3

                               Cond.value in CCurr.
Description service agent
A A A COOPER TRANSPORTATION                    0.00
A B F FREIGHT                                  0.00
A DUIE PYLE                               219217.14
C H ROBINSON                                   0.00
CENTRAL TRANSPORT LLC                          0.00
CON-WAY FREIGHT INC                            0.00
DAYTON FREIGHT LINES                      591543.14
ESTES EXPRESS LINES                        78913.74
FEDEX FREIGHT EAST                       1057542.67
INT'L EXPORT 2                                 0.00
OLD DOMINION FREIGHT LINE INC                  0.00
SAIA MOTOR FREIGHT LINE LLC                    0.00
SOUTHEASTERN FREIGHTLINES                1257463.21
U P S FREIGHT                              26963.88
U S F HOLLAND INC                              0.00
US MAIL                                        0.00
Y R C INC                                  77367.64

In [73]:
pivot4=df4.pivot_table(index='Description service agent',values='Cond.value in CCurr.',aggfunc='sum')
pivot4

                                Cond.value in CCurr.
Description service agent
B C J TRUCKING                            1825727.44
BNSF Logistics                                  0.00
C H Robinson Worldwide                          0.00
CARGO TRANSPORTERS                              0.00
CRETE                                           0.00
EPES LOGISTICS SERVICES                         0.00
EPES TRANSPORT SYSTEM INC                       0.00
G & P TRUCKING                                  0.00
HARTT TRANSPORTATION SYSTEMS                    0.00
HEARTLAND EXPRESS                               0.00
HUB GROUP RAIL                                  0.00
INT'L EXPORT 2                                  0.00
INTERNATIONAL EXPORT                            0.00
JB HUNT                                         0.00
KNIGHT TRANSPORTATION                           0.00
LANDSTAR RANGER                            437125.99
PREMIER TRANSPORT                               0.00
ROBERT BEARDEN INC                              0.00
ROEHLE TRUCKING INC                             0.00
SCHNEIDER NATIONAL CARRIERS IN                  0.00
SCHNEIDER TRANSPORATION MANAGE                  0.00
SUNSET PACIFIC TRANSPORTATION              974728.54
SWIFT TRANSPORT                                 0.00
Smith Transport                                 0.00
T A SERVICES INC                           397869.37
TRUCK LOAD CARRIER (General)                    0.00
TRUCKLOAD 1                                     0.00
U S XPRESS                                      0.00
USA TRUCK                                       0.00
WERNER ENTERPRISES                              0.00
WESTERN EXPRESS                                 0.00